{% extends 'base.html' %}
{% block content %}
{% if messages %}
  <div class="alert alert-success messages alert-dismissible fade show">
  {% for message in messages %}
  <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}<br/>
  </span>
  {% endfor %}
</div>
{% endif %}
<div class="col-12 col-md-6 mx-auto">
  <h1 class="my-3">{{ title }}</h1>
  <form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}'>
    {% csrf_token %}
      {% if next_url %}
      <input type="hidden" name="next" value="{{ next_url }}" />
      {% endif %}
      {{ form.as_p }}
    <button type="submit" class="btn btn-default" name="button">Save</button>
  </form>
</div>
{% endblock %}
