<form class='form-product-ajax' class="form" method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}'>
    {% csrf_token %}
      <input type='hidden' name='product_id' value='{{ product.id }}' />
        <span class="submit-span">
            {% if product in cart.products.all %}
              <div class='btn-group' role="group"> <a class='btn btn-success' href='/cart/'><i class="fas fa-check"></i> In cart</a> <button type='submit' class='btn btn-outline-danger'><i class="fas fa-times"></i> Remove?</button></div>
            {% else %}
              <button type='submit' class='btn btn-block btn-primary'>Add to cart <i class="fas fa-cart-plus"></i></button>
            {% endif %}
        </span>
</form>
