{% extends 'base.html' %}

<div class="container">
{% block content %}
  <div class="row mb-3">
      {% if query %}
        <div class="col-12">
          <h3>Results for <b>{{ query }}</b></h3>
          <hr>
        </div>
      {% else %}
        <div class="col-12 col-md-8 mx-auto py-5">
          {% include 'search/snippets/search_form.html' %}
        </div>
      {% endif %}
  </div>

  <div class="row">
    {% for obj in object_list %}
      <div class="col mb-5">
        {% include 'products/snippets/card.html' with instance=obj %}
        {% if forloop.counter|divisibleby:4 %}
         </div> </div><div class='row'><div class='col'><hr/></div>
        {% else %}
         </div>
        {% endif %}
    {% endfor %}
{% endblock %}
</div>
