{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container animated fadeIn">
  <h3>Contact Us</h3>
  <hr>
  <div class="row">

    	<div class="col-lg-6">
    	<iframe width="100%" height="320px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJaY32Qm3KWTkRuOnKfoIVZws&key=AIzaSyAf64FepFyUGZd3WFWhZzisswVx2K37RFY" allowfullscreen></iframe>
    	</div>

    	<div class="col-lg-6">
        <p class="text-center">Got a question? We'd love to hear from you. Send us a message and we'll get back to you shortly</p>
        <form class="contact-form" action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.fullname}}
          </div>
          <div class="mb-3">
            {{ form.email}}
          </div>
          <div class="mb-3">
            {{ form.content}}
          </div>
            <button type="submit" class="btn btn-block btn-primary" name="button">Send Message</button>
        </form>
    	</div>
  </div>

  <div class="container second-portion">
	<div class="row">

    	<div class="col-xs-12 col-sm-6 col-lg-4">
  			<div class="box">
  				<div class="icon">
  					<div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
  					<div class="info pt-4">
  						<h3 class="title">MAIL & WEBSITE</h3>
  						<p>
  							<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
  							<br>
  							<br>
  							<i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
  						</p>
  					</div>
  				</div>
  				<div class="space"></div>
  			</div>
		  </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
					<div class="info pt-4">
						<h3 class="title">CONTACT</h3>
    					<p>
							<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
							<br>
							<br>
							<i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-7567065254
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">
				<div class="icon">
					<div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="info pt-4">
						<h3 class="title">ADDRESS</h3>
    					<p>
							 <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot
							 "Shree Krishna Krupa", Rajkot - 360001.
						</p>
					</div>
				</div>
				<div class="space"></div>
			</div>
		</div>
	</div>
</div>
</div>
<style media="screen">

    .fadeIn
    {
      animation-duration: 3s;
    }

    .second-portion
    {
      margin-top:50px;
    }

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #2277BC; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

@media only screen and (max-width: 768px)
{
  .contact-form
  {
    margin-top:25px;
  }

  .second-portion
  {
    margin-top:25px;
  }
}
</style>
{% endblock %}
